@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* 178 */
*{
    box-sizing: border-box;
    font-family: Montserrat;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    /* Colours */
    --background    : #10151A;
    --secondary     : #121E28;
    --foreground    : #FFFFFF;
    --accent-1      : #FFB4D3;
    --accent-2      : #CEAAFF;
    --interactable-1: #243241;
    --text-fade     : #E2E2E2;

}
body{
    overflow-x: hidden;
    background-color: var(--background);
}   
::-webkit-scrollbar{
    display: none;
}
::selection{
    display: none;
}
/* Colours */

._text-colour-1{
    color: #FFB4D3;
}
._text-colour-2{
    color: #FFC24C;
}
._text-colour-3{
    color: #D387F7;
}
._text-colour-4{
    color: #77E6FF;
}
._text-colour-5{
    color: #23C9DE;
}
._text-colour-6{
    color: #FF9E9E;
}
._text-colour-7{
    color: #707F8D;
}
.colour-8{
    background-color: #77E6FF;
}
.colour-9{
    background-color: #E2C1F9;
}
.colour-10{
    background-color: #DBE268;
}
/* Path colours */
.t-blue path{
    color:#4BE1F4;
    stroke:#4BE1F4;
}
.t-purp path{
    color:#A36FFE;
    stroke:#A36FFE;
}
.t-gren path{
    color:#C8D316;
    stroke:#C8D316;
}
.t-orng path{
    color:#FF8135;
    stroke:#FF8135;
}
.t-lyel path{
    color:#FFFBA8;
    stroke:#FFFBA8;
}
/* Topbar */
.topbar{
    display: flex;
    height:106px;
    justify-content: space-between;
    margin-bottom: 75px;
    padding: 0 18.75%;
    width:100vw;
}
.topbar .logo{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
    left:-50px;
    max-height: 106px;
    position: relative;
}
.logo-left{
    color:var(--foreground);
    font-size: 20px;
    height:20px;
    position: relative;
    top:35px;
}
.logo-right{
    color:var(--accent-1);
    font-size: 20px;
    height:20px;
    position: relative;
    top:35px;
}
.topbar .menubar{
    align-self: center;
    display: flex;
    gap:44px;
    justify-content: space-between;
    width:33%;
}
.login-button{
    align-self: center;
    background:var(--interactable-1);
    border-radius: 12px;
    color:white;
    cursor:pointer;
    font-size:18px;
    gap: 12px;
    height:44px;
    position: relative;
    right:-100px;
    width:92px;
}
.login-button p{
    margin: 11px 20px;
}
.menubar-item{
    color:var(--foreground);
    text-decoration: none;
}
/* Content */
.content{
    display:flex;
    flex-direction: column;
    min-height: calc(100vh - 104px);
    width:100vw;
}
section{
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom:200px;
    width:62.5vw;
}
section .section-text{
    color: var(--foreground);
    font-size: 26px;
    margin-top: 32px;
    text-align: center;
}
.cta{
    color:var(--foreground);
    font-family: Lato;
    font-size: 72px;
    text-align: center;
    overflow-x:visible;
}
.section-button-go{
    align-self: center;
    background:var(--accent-2);
    border-radius: 12px;
    cursor:pointer;
    gap: 12px;
    height:68px;
    margin-top:56px;
    position: relative;
    width:214px;
}
.section-button-go p{
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    margin: 16px auto;
    text-align: center;
}
.section-heading{
    color:var(--foreground);
    font-family:Lato;
    font-size:54px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 44px;
    word-wrap: break-word
}
.tags-row{
    display: flex;
    flex-direction: row;
    gap:24px;
    justify-content:center;
    margin-bottom: 24px;
    width: 100vw;
}
.tag{
    border-radius: 100px;
    background: #182632;
    display: inline-flex;
    padding: 8px 26px;
    align-items: flex-start;
    
}
.tag-star{
    margin:auto 8px auto auto;
}
.tag-body{
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}
.showcase-container{
    aspect-ratio: 2.434077079;
    background-color: #010001;
    background-size:cover;
    background-image:url('../images/section2/Showcase.png');
    border-radius: 30px;
    /* height:493px; */
    width:100%;
}
.showcase{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    height: calc(100% + 200px);
    margin-top:-100px;
    margin-left:-100px;
    transform: rotate(-2deg);
    width: calc(100% + 200px);
}
.showcase-footer{
    background-color: var(--accent-1);
    border-radius: 100px;
    border: 4px solid #0A1117;  
    margin-top:-22px;
    padding: 6px 24px;
}
.showcase-footer p{
    color: #0A1117;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 177.778% */
    text-align: center;
}
.showcase{
    border-radius: 32px;
    height:250px;
    width:250px;
    z-index:0;
}
.journey-text{
    margin-bottom:20px;
    color: #37424D;
    text-align: center;
    font-family: Lato;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 118.519% */
    cursor: default;
}
.journey-text.active{
    color:var(--accent-1);
    text-shadow: 0 0 50px var(--accent-1);
}
.technologies{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
    width:100%;
}
.technologies-item{
    min-width:80px;
    height:calc(60px + calc(calc(100% - calc(5 * 20px)) / 6));
    width: calc(calc(100% - calc(5 * 20px)) / 6);
    max-width: 160px;
    /* padding: 10px 29px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.technologies-item-image{
    background: #121E28;
    border-radius: 25%;
    border: 2px solid #2A3744;
    display: flex;
    width:100%;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
}
.technologies-item-image img{
    aspect-ratio: 1;
    width:calc(calc(62.5vw - calc(5* 20px)) / 12);
}
.technologies-item p{
    color:var(--foreground);
    font-size: 22px;
    margin-top: 16px;
    text-align: center;
}
.persons-images{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
    overflow-x: hidden;
    width:100%;
}
.persons-image{
    aspect-ratio: 1;
    border-radius:40px;
    min-width:80px;
    width: calc(calc(100% - calc(5 * 20px)) / 6);
    max-width: 160px;
    gap: 25px;
}
.buzzwords-row{
    text-align: center;
    margin-bottom:22px;
}
.buzzwords-word{
    color:white;
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
}
.buzzwords-star{
    margin: auto 28px auto;
}
.digest{
    width:100%;
    height:390px;
    background-color: #121E28;
    border-radius: 30px;
    border: 2px solid #2A3744;
    display:flex;
    align-content: center;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: center;
}
.digest-title{
    font-family: Lato;
    font-weight:bold;
    color: white;
    font-size:54px;
    margin-top:40px;
    margin-bottom:26px;
}
.digest-subtitle{
    font-family: Montserrat;
    font-size:36px;
    font-weight:600;
    color:#9AAFC3;
    margin-bottom:63px;
}
.digest form input{
    height:68px;
    width:31.25vw;
    border-radius:16px;
    background-color: #121E28;
    border: #2A3744 2px solid;
    font-family: Montserrat;
    font-size:16px;
    color:#3D4C5B;
    font-weight: 600;
    padding-left:28px;
    margin-right:24px;
}
.digest form input::placeholder{
    font-family: Montserrat;
    font-size:16px;
    color:#3D4C5B;
    font-weight: 600;
}
.digest form button{
    align-self: center;
    background:#CEAAFF;
    color:#10151A;
    border-radius: 12px;
    cursor:pointer;
    font-size:18px;
    font-weight:600;
    height:68px;
    width: 9.375vw;
}
.collection-top{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.collection-top h1{
    color: #E5E5E5;
    font-family: Lato;
    font-size:54px;
}
.collection-top a{
    color: #8395A7;
    font-size:22px;
    height: 40px;
    font-weight: 800;
    text-decoration: none;
}
.collection-container{
    width:100%;
    height:382px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-item{
    color: var(--background);
    height:100%;
    width:calc(calc(100% - 56px) / 3);
    border-radius: 20px;
    padding: 30px 28px;
}
.container-item-image{
    margin-bottom:20px;
}
.container-item-title{
    font-weight: 700;
    font-size:22px;
    margin-bottom: 12px;
}
.container-item-text{
    font-weight: 600;
    font-size: 17px;
}
.container-item-podcasts{
    background-color:#121E28;
    border: 3px solid #2A3744;
    color:var(--foreground);
    height:334px;
}
.container-item-title-podcasts{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
}
.container-item-text-podcasts{
    color:var(--text-fade);
    opacity: 0.8;
}
.container-item-image-podcasts{
    width:50px;
    height:50px;
    margin-bottom:20px;
}
.container-item-link-podcasts{

}
/* Footer */
.footer{
    width:100vw;
    height:168px;
    display: flex;
    justify-content: center;
    background-color:var(--secondary) ;
}
.footer-content{
    width:62.5vw;
}